.DS_Store
.git
.gitignore
.dockerignore
__pycache__/
*.py[cod]
*$py.class
.Python
env/
pip-log.txt
*.log
Dockerfile
docker-compose.yml
docker-compose.override.yml
deploy/docker-compose.prod.yml
.idea/
.python-version
.direnv
.pytest_cache
.editorconfig
*.db
*.sqlite3
README.md
Makefile
media/
